.info-btn {
  position: fixed;
  padding: 0;
  top: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
  border: none;
  outline: none;
}

.fa-info {
  color: white;
  width: 15px;
  height: 15px;
}
